---
# tasks file for register_satellite

- name: Install Katello CA cert
  yum:
    name: "{{ register_satellite_info.katello_cert }}"
    state: installed
    disable_gpg_check: yes

- name: Register with Satellite server
  redhat_subscription:
    activationkey: "{{ register_satellite_info.activation_key }}"
    org_id: "{{ register_satellite_info.organisation }}"
    auto_attach: true
    state: present
