---
# tasks file for os_server

- name: Create OpenStack instances
  openstack.cloud.server: 
    cloud: "{{ os_server_cloud }}"
    name: "{{ item.name }}"
    image: "{{ item.image }}"
    key_name: "{{ item.key_name }}"
    flavor: "{{ item.flavor }}"
    security_groups: "{{ item.security_groups }}"
    delete_fip: yes
    wait: yes
    nics: "{{ item.nics }}"
    meta: "{{ item.meta }}"
  loop: "{{ os_server_instance_details }}"
